vendor_pattern,category
1015 CAFFE,DINING
365 VEND,GROCERIES
4UP*MHDR -MH,DINING
559- RIVER,DINING
7-ELEVEN,AUTO
774 LUSH,MAINTENANCE
9 DANG HILLSBORO,DINING
ABOVE ALL ACCOUNTING,ACCOUNTING
ADAMS,DINING
ADT SECURITY*404603211 WWW.ADT.COM,SERVICES
AIRGARAGE PARKING AIRGARAGE.COM,AUTO
AISER GUEST,MEDICAL/HEALTH
ALASKA AIR,TRAVEL
ALEXANDER SALON,MAINTENANCE
ALFREDO'S ITALIAN,DINING
ALLIANZ EVENT,TRAVEL
ALLIANZ TRAVEL,TRAVEL
AMAZON,SERVICES
AMC,ENTERTAINMENT
AMERICAN AI,TRAVEL
AMICA MUTUAL,INSURANCE
ANGEL CLEANERS HILLSBORO,SERVICES
ANNUAL MEMBERSHIP,CC FEES
ANNUAL MEMBERSHIP FEE,CC FEES
APNA,GROCERIES
APPLE STORE,TELEPHONE
APPLE.COM/BILL,SERVICES
APPLE.COM/US,SERVICES
APTS RAJ APARTMENTS.CO,SERVICES
APTS RAJ HTTPSWWW.APAR,SERVICES
ARITZIA,DINING
ARMK HOB,DINING
ASIAN FOOD,DINING
AWL*PEARSON EDUCATION,SERVICES
AZUL,DINING
BAR,DINING
BARNES & NOBLE,SERVICES
BEAVERTON AIRPORTER,TRAVEL
BEIT RIMA,DINING
BEST BUY,SERVICES
BEST WESTERN,TRAVEL/DINING
BESTBUYCOM807059169476,SERVICES
BHAIS MEAT,GROCERIES
BILLINGTREE/8774245587,DINING
BJ'S RESTAURANTS,RESTAURANT
BLU OLIVE,DINING
BLUE BOTTLE,DINING
"BLUEGROUND US,",AUTO
BLUMON PARRILLACABRER,DINING
BMW MOTORCYCLES,AUTO
BOOTS,AUTO
BOSTON SHAWARMA,DINING
BRITISH A,TRAVEL
BROADWAY MINI,DINING
BROADWAY'S PASTRY,DINIG
BROOKSEE,MAINTENANCE
BU SCHOOL,SERVICES
BUTTER SAN FRANCISCO,DINING
CAFE,DINING
CAFE WEEKEND ALLSTON,DINING
CARBON HEALTH,MEDICAL/HEALTH
CARDS,SERVICES
CARSHIELD,AUTO
CART,TRAVEL
CASANOVA LOUNGE,DINING
CAVA FRONT,DINING
CAVA WESTCHASE,DINING
CBR*CORDBLOOD REGISTRY,SERVICES
CCSI EFAX,TELECOM
CENTRAL PLAZA,DINING
CHASE CENTER,DINING
CHEFSTORE,GROCERIES
CHERRY HOUSTON,DINING
CHEVRON,AUTO
CHICK-FIL-A,DINING
CHIPOTLE,DINING
CINDYS HALLMARK,SERVICES
CINEMARK,SERVICES
CITY OF HILLSBORO,UTILITIES
CLAUDE.AI SUBSCRIPTION ANTHROPIC.COM,SERVICES
CLCKPAY*TANASBOURNE PLACE,SERVICES
CLEAR,SERVICES
CLOUDFLARE* CLOUDFLARE,SERVICES
CLR*STRETCHLAB5036932599,SERVICES
COFFEE,DINING
COLD STONE,DINING
COLOR,SERVICES
COM RAP,DINING
COMCAST / XFINITY,UTILITIES
COMCAST CABLE COMM,UTILITIES
COMMERCIAL DISHWASHER,SERVICES
COMPANION PET,SERVICES
CORNELL FARM,GROCERIES
COSTCO,GROCERY
COSTCO GAS,AUTO
COSTCO WHSE,GROCERIES
CPI*AMERICAN FOOD,DINING
CPR CLASS,SERVICES
CRAIGSLIST.ORG,SERVICES
CTLP*INNOVATIVE FOTO,SERVICES
CTLP*NATIONAL VENDING CLIVE,DINING
CULTUREMAPST2571 HOUSTON,MISCELLANEOUS
CVS/PHARMACY,MEDICAL/HEALTH
CVSEXTRACARE,SERVICES
DAIMOND GIFT,SERVICES
DAMEROW FORD,AUTO
DANNY COYLE'S,DINING
DARSALAM RESTAURANT,DINING
DEAN,DINING
DENNIS MARKET PORTLAND,GROCERIES
DEPT,DINING
DEPT REVENUE,County Fees
DICKS SPORTING,MAINTENANCE
DISTINCTIVE SERVICES,SERVICES
DOLLAR TREE,SERVICES
DOLLARAMA,SERVICES
DOLLARAMA #,SERVICES
DOORDASH,DINING
DROPBOX*9J5T42NY9VWH DROPBOX.COM,SERVICES
DUNKIN,DINING
EB *CRISP,DINING
EBAY O*13-13208-17685,SHOPPING
EBAY O*17-13381-21368,SHOPPING
ECOGUARD PEST OREGON,SERVICES
ELECTRONIC ESSENTIALS INC,SERVICES
ESPIGA DORADA,SERVICES
ESPN PLUS,SERVICES
EXPONENT MEMBER TRYEXPONENT.C,SERVICES
EXPRESSVPN.COM EXPRESSVPN.CO,SUBSCRIPTIONS
FASTRAK CSC,DINING
FEDEX497332808,SERVICES
FETE BOSTON,DINING
FIGS INC.,MAINTENANCE
FITNESS,SERVICES
FOODIES SOUTH,DINING
FOUNDERS* FOUNDERSCARD FOUNDERSCARD.,CC FEES
FRED-MEYER,GROCERIES
G,GROCERIES
GAME EMPIRE,TRAVEL
GAMESCAPE SAN,DINING
GAMESTOP,SHOPPING
GANGOTREE SWEETS CHENNAI,GROCERIES
GDP*TP PRODUCE PORTLAND,GROCERIES
GLF*CHARBONNEAUGOLFCLUB WILSONVILLE,DINING
GOOGLE *GOOGLE ONE,SERVICES
GOOGLE *YOUTUBE,SERVICES
GPTM1 ZEFFY.COM,SERVICES
HAIRCHITECT BARBERS,SERVICES
HAWAIIAN DRIVE INN,DINING
HECSA ZEFFY.COM,CHARITY
HILTON GARDEN INN,TRAVEL
HINDU EDUCATIONAL,CHARITY
HIPHOP SMOKESHOP,DINING
HLU*HULUPLUS HULU.COM/BILL,SERVICES
HUDSON ST1889,TRAVEL
HUDSON ST1895,TRAVEL
IAH,DINING
IAH FORNO,DINING
ICEFIELD F&B,DINING
II *INTERVAL,TRAVEL
IKEA,MAINTENANCE
IN *NORTHWEST BIOFUEL,SERVICES
IN-N-OUT ROSEBURG ROSEBURG,DINING
IN-N-OUT UNION,DINING
INDIA IMPORTS,GROCERIES
INDIA SUPERMARKET BEAVERTON,GROCERIES
INDIA SWEETS,GROCERIES
INDIAN CONNECTION,GROCERIES
INN THE,DINING
IPHONE CITIZ*PMT,SERVICES
JASPER CURRY,DINING
JASPER SUPER,SERVICES
JOEYS GELATERIA,SERVICES
JOLLIBEE STOCKTON,DINING
"JUMBO'S PICKLEBALL,",SERVICES
JUMP START,SERVICES
JUST FOR FUN,DINING
KAISER DENTAL,MEDICAL/HEALTH
KALA THAI,DINING
KELLY'S ROAST,DINING
KINDLE,SERVICES
KOHL'S,MAINTENANCE
KP NW,MEDICAL
KRISPY,DINING
KUNG,DINING
LA ROSE,DINING
LANSDOWNE PUB,TRAVEL
LAUNDRY MOBCODE,SERVICES
LEGALZOOM*,SERVICES
LEVEL99,TRAVEL
LIBERTY HIGH,SERVICES
LIFE CHIROPRACTIC HEAL,MEDICAL/HEALTH
LIFE TIME,SERVICES
LIFESTANCE HEALTH OR,MEDICAL/HEALTH
LINEN AND,SERVICES
LINKEDINPREB *85857034,SERVICES
LIONHEARTED MINISTRIES SUPPORT@SIMPL,MEDICAL/HEALTH
LITTLE LUCCA,DINING
LOLLI AND,TRAVEL
LOUNGE,DINING
LOVE'S,DINING
LOVELY NAILS,MAINTENANCE
LOW BROW,DINING
LTF*LIFE TIME,SERVICES
LUSH WASHINGTON,MAINTENANCE
LYFT,TRAVEL
LYMPHOMA ACTION,MEDICAL/HEALTH
MACMILLAN LEARNING,SERVICES
MACYS WASHINGTON,MAINTENANCE
MADRONE ART,SERVICES
MARKET,GROCERIES
MARKET OF CHOICE,GROCERIES
MARUWU SEICHA,DINING
MARY'S POPCORN,DINING
MBTA,TRAVEL
MCDONALD'S,DINING
MED*THE OREGON,MEDICAL/HEALTH
MED*TUFTS MEDICAL,MEDICAL
MERCEDES BENZ,AUTO
MICHAEL KORS-716 TIGARD,MAINTENANCE
MICHAELS STORES,SERVICES
MISS MIA,MEDICAL
MOLOTOV'S SAN,DINING
MOTORING COFFEE,DINING
MUFFIN,DINING
MYQ SUBSCRIPTION,SERVICES
NATIONAL BOARD,SERVICES
NCOURT *MADHPL-LICENSE,TRAVEL
NE UNIVERSITY,SERVICES
NETFLIX,SERVICES
NETFLIX.COM NETFLIX.COM,SERVICES
NEW SEASONS,GROCERIES
NICHOLAS RESTAURANT PORTLAND,DINING
NIKE.COM,MAINTENANCE
NMI*NATIONWIDE,INSURANCE
NORDSTROM,SERVICES
NORTHEASTERNUNIVERSITY,SERVICES
NORTHEASTERNUNIVERSITY BOSTON,SERVICES
NUTS FACTORY,DINING
NW NATURAL,UTILITIES
OAK HILL,UTILITIES
OAKLEY B016 HOUSTON,SHOPPING
ODOT DMV2U,AUTO
OJOS LOCOS SPORTS,TRAVEL
OLCC LICENSE FEE,COUNTY FEES
ONLINE PASSPORT FEES,SUBSCRIPTIONS
OR PORTALPROVFEE WWW.OREGON.GO,MEDICAL/HEALTH
ORLA ONLINE TRAINING,SERVICES
OSIB BOSTON,SERVICES
OWNER.COM OWNER.COM,SERVICES
PAGODA. SAN FRANCISCO,DINING
PANDA EXPRESS,DINING
PAYMASTER LOUNGE PORTLAND,DINING
PAYPAL *CARYSTRADIN,SERVICES
PAYPAL *LAWOFFICESP,SERVICES
PAYPAL *NGUYENTHUYL,SERVICES
PDX AIRPORT,TRAVEL
PDX POOR,TRAVEL
PERF POUR,MAINTENANCE
PERFECTPOUR* PERF,SERVICES
PETCO PARK ZIPPIN,SERVICES
PG&E WEBRECURRING,UTILITIES
PHO BASIL,DINING
PHOTOAID,MEDICAL
PITMAN RESTARAUNT EQUIP,SERVICES
PIZZA,DINING
POKESTORE SAN FRANCISCO,SERVICES
PORT,DINING
PORTLAND GENERAL ELECTRIC,UTILITIES
PORTLAND GRAND,DINING
PORTLAND MERCEDES-BENZ PORTLAND,AUTO
PORTLAND PARKING KITTY,AUTO
POSEIDON MOVING POSEIDONMOVIN,SERVICES
PP*ROGUE SPINE,MEDICAL/HEALTH
PPY*THRIVEWORKS,MAINTENANCE
PRIME VIDEO *Z52RV6SL2,SERVICES
PROGRESSIVE INS,INSURANCE
PROJECTOR HOUSTON,MAINTENANCE
PROMETRIC LLC WWW.PROMETRIC,SERVICES
PROV VIN,MEDICAL/HEALTH
PROVIDENCE,MEDICAL/HEALTH
PY *KFTEA,DINING
QBE INSURANCE,INSURANCE
QFC,GROCERIES
QUICK COLLECT MP,MAINTENANCE
"QUICK SHOP2,",GROCERIES
RAINY DAY,SERVICES
RAMEN RYOMA,DINING
RASCAL TRAINING RASCALTRAININ,SERVICES
RASVRITI CHENNAI,PROFESSIONAL CLOTHING
RAZ*ARTIUM ACADEMY,SUBSCRIPTIONS
RECREATION.GOV,TRAVEL
REDTAIL GOLF,SERVICES
REEF EDUCATION,SERVICES
REGISTERED AGENT,SERVICES
REST TACHINOMI,DINING
REST TOKYO,DINING
RESTAURANT DEPOT PORTLAND,GROCERIES
REVOLVE,MAINTENANCE
RING BASIC,SUBSCRIPTIONS
ROSS STORES,MAINTENANCE
RPS*WESTLAND AVE,SERVICES
SAELA PEST,SERVICES
SAFEWAY,GROCERIES
SAIF WORKERS' COMP,INSURANCE
SCHLOSS CHENNAI,PROFESSIONAL CLOTHING
SCOOP BETHANY PORTLAND,SERVICES
SEC STATE,GOVERNMENT
SECRET GROVE,DINING
SEPHORA PRUDENTIAL,SERVICES
SEPHORA WASHINGTON,SERVICES
SERVICE FEE,CC Fees
SHARETEA BEAVERTON,DINING
SHELL OIL,GAS/FUEL
SHERATON BOSTON,TRAVEL
SHERPA EVISA-ETA-ESTA TORONTO,TRAVEL
SHOE MIILL,MAINTENANCE
SILVERWOLF CHALETS,TRAVEL
SIZZLING INDIAN,DINING
SMITH HEATHROW,TRAVEL
SNACK* CHICHA,DINING
SOUTHWES,TRAVEL
SPACE AGE#23 BEAVERTON,AUTO
SPO*DIXIETAVERN PORTLAND,DINING
SPO*VESUVIOCAFE SAN FRANCISCO,DINING
SPO*WICKEDLOBSTA HAVERHILL,DINING
SQ *CHOPSTIX,DINING
SQ *HECSA PORTLAND,CHARITY
SQ *HUNNYMILK PORTLAND,DINING
SQ *LECHON PORTLAND,DINING
SQ *OAKLEAF,DINING
SQ *P&NCREPE BEAVERTON,DINING
SQ *THE,SERVICES
SQ *UNION,SERVICES
SQ *VAN,SERVICES
SRVALC.COM--*TRAINING SRVALC.COM,SERVICES
STAGE ACADEMY ADELAIDE,SERVICES
STARBUCKS,DINING
STARBUCKS STORE,DINING
STOP &,SERVICES
SUBWAY,RESTAURANT
SUKRA JEWELLERY CHENNAI,PROFESSIONAL CLOTHING
SUNDARI SILKS,PROFESSIONAL CLOTHING
SWA*EARLYBRD5264294892212,TRAVEL
TABLE MERCATO,SERVICES
TACO BELL,DINING
TAO'S BOSTON,DINING
TAPS,DINING
TAQUERIA CAZADORES,DINING
TARGET,GROCERIES
TASKRABBIT* RECEIPT,SERVICES
TEMU.COM,MAINTENANCE
TESLA SERVICE US,AUTO
TESLA SUBSCRIPTION,AUTO
TESLA SUPERCHARGER US,AUTO
TESLAFI.COM TESLAFI.COM,AUTO
THAI EXPRESS,DINING
THE CLAYROOM,SERVICES
THE CLUBHOUSE,SERVICES
THE GOLDEN,SERVICES
THE HOME DEPOT,MAINTENANCE
THE LOT,TRAVEL
THE POKEMON,SERVICES
THE RITZ-CARLTON,TRAVEL
THE STAR,SERVICES
THE WEBSTAURANT,SERVICES
TIMBERWOLF ROCKY,TRAVEL
TJ MAXX,MAINTENANCE
TJMAXX,MAINTENANCE
TM *TICKETMASTER,SERVICES
TMOBILE*AUTO PAY,GAS/FUEL
TMOBILE*WEB ORDER,GAS/FUEL
"TOAST,",DINING
"TONAL SYSTEMS,",SERVICES
TORCHYS WESTCHASE,DINING
TRADER JOE S,GROCERIES
TRAVEL CREDIT,TRAVEL
TRUE POTENTIAL,MEDICAL/HEALTH
TST* ALL,DINING
TST* BAMBOO,DINING
TST* CENTRO,RESTAURANT
TST* DOUGH,DINING
TST* EL,DINING
TST* FIRE,DINING
TST* FORTUNE,DINING
TST* IRISH,DINING
TST* IRON,DINING
TST* JAMBA,DINING
TST* LOCO,DINING
TST* METRO,DINING
TST* OPEN,DINING
TST* PARIS,DINING
TST* RM,DINING
TST* RONTOM'S PORTLAND,DINING
TST* SALT,DINING
TST* SDCM,DINING
TST* SUSHI,DINING
TST* TAJ,DINING
TST* TASTES,DINING
TST* THE,DINING
TST* VELVET,DINING
TST* WETZEL'S,DINING
TST*AGAS RESTAURANT,DINING
TST*ALIGN HOSPITALITY,DINING
TST*AZUKI SUSHI,DINING
TST*BAB AL,DINING
TST*BUBBLE N,DINING
TST*BURMA LOVE,DINING
TST*CHEZ MAMAN,DINING
TST*CICCIOS PASTA HOUSTON,DINING
TST*EL JEFES,DINING
TST*GIOIA PIZZERIA,DINING
TST*HIGH FLYING,DINING
TST*ILONA BOSTON,DINING
TST*JP LICKS,DINING
TST*KAFIEX ROASTERS,DINING
TST*LEVAIN NEWBURY,DINING
TST*LOCO TAQUERIA,DINING
TST*SALONIKI -,DINING
TST*SHY BIRD,DINING
TST*SIGHTGLASS COFFEE,DINING
TST*SMOKING GUN,DINING
TST*TACO STAND,DINING
TST*TAQUERIA LOS,DINING
TST*THE LOT,DINING
TST*TRIDENT BOOKSELLERS,SERVICES
TST*WHITE RABBIT,DINING
TUALATIN VALLEY WATER,UTILITIES
UBER,DINING
UBER *TRIP HELP.UBER.COM,TRAVEL
UEP*TASTE OF,DINING
ULTA #,MAINTENANCE
UNITED,TRAVEL
UPTOWN CAR,SERVICES
URBAN WAXX,SERVICES
US TREAS,SERVICES
UWAJIMAYA BEAVERTON,GROCERIES
VICTORIA'S SECRET,SERVICES
VONAGE,TELEPHONE
WALKER GARBAGE SERVICE,UTILITIES
WASHCO ANIMAL SVCS,SERVICES
WAYMO,TRAVEL
WCSHERIFFALARM FEE,SUBSCRIPTIONS
WEB*NETFIRMS NETFIRMS.COM,SERVICES
WF *WAYFAIR4438385099,MAINTENANCE
WHOLEFDS SYM,GROCERIES
WHOLEFDS TAN,GROCERIES
WILDWOOD,DINING
WLI*ENVI SALON,SERVICES
WM SUPERCENTER,MAINTENANCE
WOLLASTON'S,SERVICES
WORLDTRIPS,TRAVEL
WWW.SPOTHOPPERAPP.COM WWW.SPOTHOPPE,SERVICES
X-GOLF TUALATIN,ENTERTAINMENT
YSI*RIVAIR APARTMENT HOME,SERVICES
