vendor_pattern,category
1015 CAFFE,DINING
1027 CAFFE,DINING
25 HEAVENLY,DINING
365 VEND,GROCERIES
405 EXPRESS,DINING
4UP*MHDR -MH,DINING
559- RIVER,DINING
7-ELEVEN,AUTO
774 LUSH,MAINTENANCE
9 DANG HILLSBORO,DINING
A *AMERICANS4HINDUS,CHARITY
AA KIOSK0012601257345,TRAVEL
ABERCROMBIE &,MAINTENANCE
ABOVE ALL ACCOUNTING,ACCOUNTING
ADAMS,DINING
ADT SECURITY*404603211 WWW.ADT.COM,SERVICES
AIRBNB *,TRAVEL
AIRGARAGE PARKING AIRGARAGE.COM,AUTO
AISER GUEST,MEDICAL/HEALTH
ALASKA AIR,TRAVEL
ALEXANDER SALON,MAINTENANCE
ALFREDO'S ITALIAN,DINING
ALLIANCE MART,TRAVEL
ALLIANZ EVENT,TRAVEL
ALLIANZ TRAVEL,TRAVEL
AMAZON,SERVICES
AMC,ENTERTAINMENT
AMERICAN AI,TRAVEL
AMERICAN JUNKIE,MAINTENANCE
AMICA MUTUAL,INSURANCE
ANGEL CLEANERS HILLSBORO,SERVICES
ANNUAL MEMBERSHIP,CC FEES
ANNUAL MEMBERSHIP FEE,CC FEES
APNA,GROCERIES
APPLE STORE,TELEPHONE
APPLE.COM/BILL,SERVICES
APPLE.COM/US,SERVICES
APTS RAJ APARTMENTS.CO,SERVICES
APTS RAJ HTTPSWWW.APAR,SERVICES
ARCO#82203ARCO AMPM,GAS/FUEL
ARITZIA,DINING
ARMK HOB,DINING
ARYA VAIDYA,MEDICAL
ASIAN FOOD,DINING
AVIS.COM PREPAY,TRAVEL
AWL*PEARSON EDUCATION,SERVICES
AZUL,DINING
BALANCE LONDON,TRAVEL
BAR,DINING
BARNES & NOBLE,SERVICES
BEAVERTON AIRPORTER,TRAVEL
BEAVERTON CAR,AUTO
BEIT RIMA,DINING
BENARES HOTELS,TRAVEL/DINING
BENEVITY DONATIONS,CHARITY
BEST BUY,SERVICES
BEST WESTERN,TRAVEL/DINING
BESTBUYCOM807059169476,SERVICES
BHAIS MEAT,GROCERIES
BILLINGTREE/8774245587,DINING
BJ'S RESTAURANTS,RESTAURANT
BLICK ART,DINING
BLU OLIVE,DINING
BLUE BOTTLE,DINING
"BLUEGROUND US,",AUTO
BLUMON PARRILLACABRER,DINING
BMW MOTORCYCLES,AUTO
BOOTS,AUTO
BOSTON SHAWARMA,DINING
BRANDY MELVILLE,MAINTENANCE
BRIJRAMA PALACE,TRAVEL
BRITISH A,TRAVEL
BROADWAY MINI,DINING
BROADWAY'S PASTRY,DINIG
BROOKSEE,MAINTENANCE
BU SCHOOL,SERVICES
BUS STOP,DINING
BUTTER SAN FRANCISCO,DINING
CACTUS CLUB,DINING
CAFE,DINING
CAFE WEEKEND ALLSTON,DINING
CANTEEN AUSTIN_5560,DINING
CARBON HEALTH,MEDICAL/HEALTH
CARDS,SERVICES
CARMEL VALLEY,TRAVEL
CARSHIELD,AUTO
CART,TRAVEL
CASANOVA LOUNGE,DINING
CATHAYPACAIR1607440233174,TRAVEL
CAVA FRONT,DINING
CAVA WESTCHASE,DINING
CBR*CORDBLOOD REGISTRY,SERVICES
CCSI EFAX,TELECOM
CENTRAL PLAZA,DINING
CHANDOS LONDON,TRAVEL
CHASE CENTER,DINING
CHEESECAKE BOSTON,DINING
CHEFSTORE,GROCERIES
CHERRY HOUSTON,DINING
CHEVRON,AUTO
CHICK-FIL-A,DINING
CHIPOTLE,DINING
CINDYS HALLMARK,SERVICES
CINEMARK,SERVICES
CINNAMON LIFE,TRAVEL
CITY OF HILLSBORO,UTILITIES
CLAUDE.AI SUBSCRIPTION ANTHROPIC.COM,SERVICES
CLCKPAY*TANASBOURNE PLACE,SERVICES
CLEAR,SERVICES
CLOUDFLARE* CLOUDFLARE,SERVICES
CLR*HOPPERS RESTAURAN,DINING
CLR*STRETCHLAB5036932599,SERVICES
CLUEQUEST LONDON,DINING
COFFEE,DINING
COLD STONE,DINING
COLOR,SERVICES
COM RAP,DINING
COMCAST / XFINITY,UTILITIES
COMCAST CABLE COMM,UTILITIES
COMMERCIAL DISHWASHER,SERVICES
COMPANION PET,SERVICES
CORNELL FARM,GROCERIES
COSTCO,GROCERY
COSTCO GAS,AUTO
COSTCO WHSE,GROCERIES
CPI*AMERICAN FOOD,DINING
CPR CLASS,SERVICES
CRAIGSLIST.ORG,SERVICES
CROCS SOHO,PROFESSIONAL CLOTHING
CTLP*INNOVATIVE FOTO,SERVICES
CTLP*NATIONAL VENDING CLIVE,DINING
CTLP*SUNCOAST HOSPITAL,MEDICAL
CULTUREMAPST2571 HOUSTON,MISCELLANEOUS
CVS/PHARMACY,MEDICAL/HEALTH
CVSEXTRACARE,SERVICES
DAIMOND GIFT,SERVICES
DAMEROW FORD,AUTO
DANNY COYLE'S,DINING
DARSALAM RESTAURANT,DINING
DAYS INNS/DAYSTOP,TRAVEL
DEAN,DINING
DENNIS MARKET PORTLAND,GROCERIES
DEPT,DINING
DEPT REVENUE,County Fees
DICKS SPORTING,MAINTENANCE
DISTINCTIVE SERVICES,SERVICES
DOLLAR TREE,SERVICES
DOLLARAMA,SERVICES
DOLLARAMA #,SERVICES
DOORDASH,DINING
DOUBLETREE WISTERIA,TRAVEL
DROPBOX*9J5T42NY9VWH DROPBOX.COM,SERVICES
DROPBOX*KNJTJCMC1Q1Q DROPBOX.COM,SERVICES
DUANE READE,SERVICES
DUNKIN,DINING
DYNASTY,DINING
EATALY BOSTON,DINING
EB *CRISP,DINING
EBAY O*13-13208-17685,SHOPPING
EBAY O*17-13381-21368,SHOPPING
ECOGUARD PEST OREGON,SERVICES
EL REY,SERVICES
ELECTRONIC ESSENTIALS INC,SERVICES
ESPIGA DORADA,SERVICES
ESPN PLUS,SERVICES
EXPONENT MEMBER TRYEXPONENT.C,SERVICES
EXPRESSVPN.COM EXPRESSVPN.CO,SUBSCRIPTIONS
FAIRFIELD INN,TRAVEL
FAIRMONT SAN,TRAVEL
FASTRAK CSC,DINING
FAT FACE,DINING
FCB WATERLOO,UTILITIES
FEDEX497332808,SERVICES
FEDEX524377580,SERVICES
FEDEX940110156216,SERVICES
FETE BOSTON,DINING
FIGS INC.,MAINTENANCE
FITNESS,SERVICES
FOODA CNP,DINING
FOODIES SOUTH,DINING
FOUNDERS* FOUNDERSCARD FOUNDERSCARD.,CC FEES
FRED-MEYER,GROCERIES
FUCHUNJU,DINING
G,GROCERIES
GAME EMPIRE,TRAVEL
GAMESCAPE SAN,DINING
GAMESTOP,SHOPPING
GANGOTREE SWEETS CHENNAI,GROCERIES
GDP*TP PRODUCE PORTLAND,GROCERIES
GLF*CHARBONNEAUGOLFCLUB WILSONVILLE,DINING
GOOGLE *GOOGLE ONE,SERVICES
GOOGLE *YOUTUBE,SERVICES
GPTM1 ZEFFY.COM,SERVICES
HAIRCHITECT BARBERS,SERVICES
HAWAIIAN DRIVE INN,DINING
HECSA ZEFFY.COM,CHARITY
HEMENWAY VARIETY,MAINTENANCE
HERTZ CAR,AUTO
HILTON GARDEN INN,TRAVEL
HINDU EDUCATIONAL,CHARITY
HIPHOP SMOKESHOP,DINING
HLU*HULUPLUS HULU.COM/BILL,SERVICES
HOT STONE,SERVICES
HOTEL CREDIT,TRAVEL/DINING
HOXTON SOUTHWARK,TRAVEL
HUDSON ST1888,TRAVEL
HUDSON ST1889,TRAVEL
HUDSON ST1895,TRAVEL
HUDSON ST2160,TRAVEL
HUDSONNEWS ST858,TRAVEL
HULU,SUBSCRIPTIONS
IAH,DINING
IAH FORNO,DINING
ICEFIELD F&B,DINING
II *INTERVAL,TRAVEL
IKEA,MAINTENANCE
IN *NORTHWEST BIOFUEL,SERVICES
IN-N-OUT DALY,DINING
IN-N-OUT ROSEBURG ROSEBURG,DINING
IN-N-OUT SANTA,DINING
IN-N-OUT UNION,DINING
INDIA IMPORTS,GROCERIES
INDIA SUPERMARKET BEAVERTON,GROCERIES
INDIA SWEETS,GROCERIES
INDIAN CONNECTION,GROCERIES
INN THE,DINING
INTERCONTINENTAL MIAMI,TRAVEL
IPHONE CITIZ*PMT,SERVICES
ISLE OF,DINING
JASPER CURRY,DINING
JASPER SUPER,SERVICES
JETBLUE,TRAVEL
JOEYS GELATERIA,SERVICES
JOLLIBEE STOCKTON,DINING
"JUMBO'S PICKLEBALL,",SERVICES
JUMP START,SERVICES
JUNK SOHO,SERVICES
JUST FOR FUN,DINING
KAISER DENTAL,MEDICAL/HEALTH
KALA THAI,DINING
KELLY'S ROAST,DINING
KHANNA-8 VARANASI,MAINTENANCE
KINDLE,SERVICES
KOHL'S,MAINTENANCE
KP NW,MEDICAL
KRISPY,DINING
KUNG,DINING
LA ROSE,DINING
LANE7 VICTORIA,PROFESSIONAL CLOTHING
LANSDOWNE PUB,TRAVEL
LATE FEE,CC FEES
LAUNDRY MOBCODE,SERVICES
LEGALZOOM*,SERVICES
LES SCHWAB,AUTO
LEVEL99,TRAVEL
LIBERTY HIGH,SERVICES
LIFE CHIROPRACTIC HEAL,MEDICAL/HEALTH
LIFE TIME,SERVICES
LIFESTANCE HEALTH OR,MEDICAL/HEALTH
LINEN AND,SERVICES
LINKEDINPREB *85857034,SERVICES
LIONHEARTED MINISTRIES SUPPORT@SIMPL,MEDICAL/HEALTH
LITTLE LUCCA,DINING
LOLLI AND,TRAVEL
LOUNGE,DINING
LOVE'S,DINING
LOVELY NAILS,MAINTENANCE
LOW BROW,DINING
LS TOY,MAINTENANCE
LTF*LIFE TIME,SERVICES
LULULEMON PRUDENTIAL,MAINTENANCE
LUSH WASHINGTON,MAINTENANCE
LYFT,TRAVEL
LYMPHOMA ACTION,MEDICAL/HEALTH
M&S SIMPLY,UTILITIES
MACMILLAN LEARNING,SERVICES
MACS BY,MAINTENANCE
MACYS WASHINGTON,MAINTENANCE
MAD HATTER,TRAVEL/DINING
MADEWELL,SERVICES
MADRONE ART,SERVICES
MAMAS PAPAS,DINING
MARKET,GROCERIES
MARKET OF CHOICE,GROCERIES
MARKS &,SERVICES
MARRIOTT BY,TRAVEL
MARSHALLS,MAINTENANCE
MARUWU SEICHA,DINING
MARY'S POPCORN,DINING
MAYO CHIROPRACTIC,MEDICAL
MBTA,TRAVEL
MCDONALD'S,DINING
MED*CREDENA ST,MAINTENANCE
MED*THE OREGON,MEDICAL/HEALTH
MED*TUFTS MEDICAL,MEDICAL
MERCEDES BENZ,AUTO
MICHAEL KORS-716 TIGARD,MAINTENANCE
MICHAELS STORES,SERVICES
MISS MIA,MEDICAL
MOLOTOV'S SAN,DINING
MOTORING COFFEE,DINING
MUFFIN,DINING
MYQ SUBSCRIPTION,SERVICES
N1 LONDON,SERVICES
NATIONAL BOARD,SERVICES
NCOURT *MADHPL-LICENSE,TRAVEL
NE UNIVERSITY,SERVICES
NETFLIX,SERVICES
NETFLIX.COM NETFLIX.COM,SERVICES
NEW SEASONS,GROCERIES
NICHOLAS RESTAURANT PORTLAND,DINING
NIKE.COM,MAINTENANCE
NMI*NATIONWIDE,INSURANCE
NORDSTROM,SERVICES
NORTH ITALIA,DINING
NORTHEASTERNUNIVERSITY,SERVICES
NORTHEASTERNUNIVERSITY BOSTON,SERVICES
NUTS FACTORY,DINING
NW NATURAL,UTILITIES
OAK HILL,UTILITIES
OAKLEY B016 HOUSTON,SHOPPING
ODOT DMV2U,AUTO
OJOS LOCOS SPORTS,TRAVEL
OLCC,CC FEES
OLCC LICENSE FEE,COUNTY FEES
ONLINE PASSPORT FEES,SUBSCRIPTIONS
OPEN,SERVICES
OPTUM HOME,MEDICAL
OR PORTALPROVFEE WWW.OREGON.GO,MEDICAL/HEALTH
ORLA ONLINE TRAINING,SERVICES
OSIB BOSTON,SERVICES
OWNER.COM OWNER.COM,SERVICES
OXO TOWER,RESTAURANT
PAGODA. SAN FRANCISCO,DINING
PANDA EXPRESS,DINING
PANERA BREAD,DINING
PAPERSOURCE -4710,SERVICES
PARK INN,TRAVEL
PAYMASTER LOUNGE PORTLAND,DINING
PAYPAL *CARYSTRADIN,SERVICES
PAYPAL *EBAY,MAINTENANCE
PAYPAL *LAWOFFICESP,SERVICES
PAYPAL *NGUYENTHUYL,SERVICES
PDX AIRPORT,TRAVEL
PDX POOR,TRAVEL
PEETS,DINING
PERF POUR,MAINTENANCE
PERFECTPOUR* PERF,SERVICES
PERRY'S LIQUORS,DINING
PETCO PARK ZIPPIN,SERVICES
PG&E WEBRECURRING,UTILITIES
PHO BASIL,DINING
PHOTOAID,MEDICAL
PHOTOWORKS INTERACTIVE,MEDICAL
PITMAN RESTARAUNT EQUIP,SERVICES
PIZZA,DINING
PLAYA BOWLS,DINING
PNEUMA,DINING
POKESTORE SAN FRANCISCO,SERVICES
PORT,DINING
PORTLAND GENERAL ELECTRIC,UTILITIES
PORTLAND GRAND,DINING
PORTLAND MERCEDES-BENZ PORTLAND,AUTO
PORTLAND PARKING KITTY,AUTO
POSEIDON MOVING POSEIDONMOVIN,SERVICES
POTBELLY,DINING
PP*ROGUE SPINE,MEDICAL/HEALTH
PPY*THRIVEWORKS,MAINTENANCE
PRESIDIO KEBAB,DINING
PRIME VIDEO *Z52RV6SL2,SERVICES
PROGRESSIVE INS,INSURANCE
PROJECTOR HOUSTON,MAINTENANCE
PROMETRIC LLC WWW.PROMETRIC,SERVICES
PROV VIN,MEDICAL/HEALTH
PROVIDENCE,MEDICAL/HEALTH
PY *KFTEA,DINING
QBE INSURANCE,INSURANCE
QFC,GROCERIES
QUICK COLLECT MP,MAINTENANCE
"QUICK SHOP2,",GROCERIES
RAINY DAY,SERVICES
RALPH LAUREN,MAINTENANCE
RAMEN RYOMA,DINING
RASCAL TRAINING RASCALTRAININ,SERVICES
RASVRITI CHENNAI,PROFESSIONAL CLOTHING
RAZ*ARTIUM ACADEMY,SUBSCRIPTIONS
RECREATION.GOV,TRAVEL
REDTAIL GOLF,SERVICES
REEF EDUCATION,SERVICES
REGISTERED AGENT,SERVICES
REST TACHINOMI,DINING
REST TOKYO,DINING
RESTAURANT AT,RESTAURANT
RESTAURANT DEPOT PORTLAND,GROCERIES
REVOLVE,MAINTENANCE
RING BASIC,SUBSCRIPTIONS
RODANFI*LDS,MAINTENANCE
ROOTS BAY,MAINTENANCE
ROOTS FORT,MAINTENANCE
ROPPOLOS PIZZERIA,DINING
ROSS STORE,SERVICES
ROSS STORES,MAINTENANCE
ROVER.COM* PET,MAINTENANCE
RPS*WESTLAND AVE,SERVICES
SAELA PEST,SERVICES
SAFEWAY,GROCERIES
SAIF WORKERS' COMP,INSURANCE
SCHLOSS CHENNAI,PROFESSIONAL CLOTHING
SCOOP BETHANY PORTLAND,SERVICES
SEC STATE,GOVERNMENT
SECRET GROVE,DINING
SEPHORA CHENNAI,TRAVEL
SEPHORA FANEUIL,TRAVEL
SEPHORA PRUDENTIAL,SERVICES
SEPHORA STREETS,MAINTENANCE
SEPHORA WASHINGTON,SERVICES
SERVICE FEE,CC Fees
SHARETEA BEAVERTON,DINING
SHAWARMA BAY,DINING
SHEIN.COM,DINING
SHELL OIL,GAS/FUEL
SHERATON BOSTON,TRAVEL
SHERPA EVISA-ETA-ESTA TORONTO,TRAVEL
SHOE MIILL,MAINTENANCE
SILVERWOLF CHALETS,TRAVEL
SIZZLING INDIAN,DINING
SK NETWORKS,SUBSCRIPTIONS
SMITH HEATHROW,TRAVEL
SNACK* CHICHA,DINING
SOUTHWES,TRAVEL
SP EDIKTED-RETAIL,TRAVEL
SP LIFE,MEDICAL
SPA CEYLON,SUBSCRIPTIONS
SPACE AGE#23 BEAVERTON,AUTO
SPO*DIXIETAVERN PORTLAND,DINING
SPO*VESUVIOCAFE SAN FRANCISCO,DINING
SPO*WICKEDLOBSTA HAVERHILL,DINING
SQ *CAFFE,DINING
SQ *CANDY,DINING
SQ *CHOPSTIX,DINING
SQ *CURRY,DINING
SQ *DAVIS,DINING
SQ *EL,DINING
SQ *FONTY'S,DINING
SQ *HECSA PORTLAND,CHARITY
SQ *HUNNYMILK PORTLAND,DINING
SQ *JUS',DINING
SQ *LADY,DINING
SQ *LECHON PORTLAND,DINING
SQ *MAMACITA,DINING
SQ *OAKLEAF,DINING
SQ *P&NCREPE BEAVERTON,DINING
SQ *PLAYERS,DINING
SQ *PROJECT,DINING
SQ *SHAKE,DINING
SQ *SMASH,DINING
SQ *THE,SERVICES
SQ *THORNTON,DINING
SQ *UNION,SERVICES
SQ *VAN,SERVICES
SQ *VOODOO,DINING
SRVALC.COM--*TRAINING SRVALC.COM,SERVICES
SSENSE SSENSE.COM,MAINTENANCE
STAGE ACADEMY ADELAIDE,SERVICES
STARBUCKS,DINING
STARBUCKS STORE,DINING
STELLA BEER,TRAVEL
STOP &,SERVICES
STUBBS REAL,DINING
SUBURBAN ACE,TRAVEL
SUBWAY,RESTAURANT
SUKRA JEWELLERY CHENNAI,PROFESSIONAL CLOTHING
SULLIVANS CASTLE,DINING
SUNDARI SILKS,PROFESSIONAL CLOTHING
SWA CHASE,TRAVEL
SWA*EARLYBRD5264294892212,TRAVEL
SWA*PREMSEAT5264332755046,TRAVEL
SWA*PREMSEAT5264332757003,TRAVEL
SYNTROPY ACADEMY,MAINTENANCE
SYNTROPY CHIRO,MEDICAL
TABLE MERCATO,SERVICES
TACO BELL,DINING
TAO'S BOSTON,DINING
TAPS,DINING
TAQUERIA CAZADORES,DINING
TARGET,GROCERIES
TASKRABBIT* RECEIPT,SERVICES
TASTE PROJECT,DINING
TATTEBAKERY TATTEBAKERY.OMA,DINING
TEMU.COM,MAINTENANCE
TESLA,AUTO
TESLA SERVICE US,AUTO
TESLA SUBSCRIPTION,AUTO
TESLA SUPERCHARGER US,AUTO
TESLAFI.COM TESLAFI.COM,AUTO
THAI BLOOM,DINING
THAI EXPRESS,DINING
THE CLAYROOM,SERVICES
THE CLUBHOUSE,SERVICES
THE EDIT,TRAVEL
THE GOLDEN,SERVICES
THE HOME DEPOT,MAINTENANCE
THE HOXTON,TRAVEL
THE INDIAN,TRAVEL/DINING
THE JOINT,TRAVEL
THE LOT,TRAVEL
THE POKEMON,SERVICES
THE RITZ-CARLTON,TRAVEL
THE STAR,SERVICES
THE UPS,SERVICES
THE WATERFRONT,UTILITIES
THE WEBSTAURANT,SERVICES
TILLAMOOK,SERVICES
TIMBERWOLF ROCKY,TRAVEL
TJ MAXX,MAINTENANCE
TJMAXX,MAINTENANCE
TM *TICKETMASTER,SERVICES
TMOBILE*AUTO PAY,GAS/FUEL
TMOBILE*WEB ORDER,GAS/FUEL
"TOAST,",DINING
"TONAL SYSTEMS,",SERVICES
TORCHYS WESTCHASE,DINING
TRADER JOE S,GROCERIES
TRAVEL CREDIT,TRAVEL
TRAVEL SERVICES,TRAVEL
TRUE POTENTIAL,MEDICAL/HEALTH
TST* ALL,DINING
TST* BAMBOO,DINING
TST* CENTRO,RESTAURANT
TST* DOUGH,DINING
TST* EL,DINING
TST* EVERBOWL,TRAVEL
TST* FIRE,DINING
TST* FORTUNE,DINING
TST* IRISH,DINING
TST* IRON,DINING
TST* JAMBA,DINING
TST* LOCO,DINING
TST* METRO,DINING
TST* OPEN,DINING
TST* PANELAS,TRAVEL
TST* PARIS,DINING
TST* RM,DINING
TST* RONTOM'S PORTLAND,DINING
TST* SALT,DINING
TST* SDCM,DINING
TST* SUSHI,DINING
TST* TAJ,DINING
TST* TASTES,DINING
TST* THE,DINING
TST* VELVET,DINING
TST* WETZEL'S,DINING
TST*AGAS RESTAURANT,DINING
TST*ALIGN HOSPITALITY,DINING
TST*AZUKI SUSHI,DINING
TST*BAB AL,DINING
TST*BUBBLE N,DINING
TST*BURMA LOVE,DINING
TST*BURMA SUPERSTAR,DINING
TST*CHEZ MAMAN,DINING
TST*CICCIOS PASTA HOUSTON,DINING
TST*COCO SHRIMP,DINING
TST*DE NADA,DINING
TST*EL JEFES,DINING
TST*GIOIA PIZZERIA,DINING
TST*HIGH FLYING,DINING
TST*ILONA BOSTON,DINING
TST*JACKS WIFE,DINING
TST*JP LICKS,DINING
TST*KAFIEX ROASTERS,DINING
TST*LEVAIN NEWBURY,DINING
TST*LOCO TAQUERIA,DINING
TST*MAHANIYOM BROOKLINE,DINING
TST*MR. TEA,DINING
TST*OZUMO -,DINING
TST*PERLAS SEAFOOD,DINING
TST*SALONIKI -,DINING
TST*SARVA BOSTON,DINING
TST*SHY BIRD,DINING
TST*SIGHTGLASS COFFEE,DINING
TST*SMOKING GUN,DINING
TST*TACO STAND,DINING
TST*TAQUERIA LOS,DINING
TST*TEN ONE,DINING
TST*TERRY BLACKS,DINING
TST*THE HORNY,DINING
TST*THE LOT,DINING
TST*THE SALOON,DINING
TST*TILLAMOOK CREAMERY,DINING
TST*TRIDENT BOOKSELLERS,SERVICES
TST*WHITE RABBIT,DINING
TUALATIN VALLEY WATER,UTILITIES
TUFTS MEDICAL,MEDICAL
U.S. LINEN,MAINTENANCE
UBER,DINING
UBER *TRIP HELP.UBER.COM,TRAVEL
UEP*TASTE OF,DINING
ULTA #,MAINTENANCE
UNITED,TRAVEL
UPTOWN CAR,SERVICES
URBAN WAXX,SERVICES
US TREAS,SERVICES
UWAJIMAYA BEAVERTON,GROCERIES
V R,MAINTENANCE
VARSIDHI CHEENAI,MAINTENANCE
VENMO *EBAY,MAINTENANCE
VICTORIA'S SECRET,SERVICES
VONAGE,TELEPHONE
VRBO FEE,TRAVEL
VUMMIDI SILVERWARE,MAINTENANCE
WAITROSE STORES,MAINTENANCE
WALKER GARBAGE SERVICE,UTILITIES
WASHCO ANIMAL SVCS,SERVICES
WASHCO PROPERTY,COUNTY FEES
WAYMO,TRAVEL
WCSHERIFFALARM FEE,SUBSCRIPTIONS
WEB*NETFIRMS NETFIRMS.COM,SERVICES
WEDTREE LIFESTYLE,MAINTENANCE
WF *WAYFAIR4438385099,MAINTENANCE
WHOLEFDS DMR,GROCERIES
WHOLEFDS MRY,GROCERIES
WHOLEFDS SYM,GROCERIES
WHOLEFDS TAN,GROCERIES
WILDWOOD,DINING
WLI*ENVI SALON,SERVICES
WM SUPERCENTER,MAINTENANCE
WOLLASTON'S,SERVICES
WORLDTRIPS,TRAVEL
WWW.CVS.COM,MEDICAL
WWW.SPOTHOPPERAPP.COM WWW.SPOTHOPPE,SERVICES
WWWPLATEPASSCOM,MAINTENANCE
X-GOLF TUALATIN,ENTERTAINMENT
YSI*RIVAIR APARTMENT HOME,SERVICES
ZIPLY FIBER,TELEPHONE
