vendor_pattern,category
4UP*MHDR -MH,DINING
559- RIVER,DINING
9 DANG HILLSBORO,DINING
ABOVE ALL ACCOUNTING,ACCOUNTING
ADT SECURITY*404603211 WWW.ADT.COM,SERVICES
AIRGARAGE PARKING AIRGARAGE.COM,AUTO
ALLIANZ EVENT,TRAVEL
AMAZON,SERVICES
AMERICAN AI,TRAVEL
AMICA MUTUAL,INSURANCE
ANGEL CLEANERS HILLSBORO,SERVICES
ANNUAL MEMBERSHIP,CC FEES
ANNUAL MEMBERSHIP FEE,CC FEES
APPLE STORE,TELEPHONE
APPLE.COM/BILL,SERVICES
APPLE.COM/US,SERVICES
APTS RAJ APARTMENTS.CO,SERVICES
APTS RAJ HTTPSWWW.APAR,SERVICES
ARITZIA WASHINGTON,DINING
ASIAN FOOD,DINING
AZUL,DINING
BAR,DINING
BARNES & NOBLE,SERVICES
BEAVERTON AIRPORTER,TRAVEL
BEIT RIMA,DINING
BEST BUY,SERVICES
BESTBUYCOM807059169476,SERVICES
BHAIS MEAT,GROCERIES
BILLINGTREE/8774245587,DINING
BLU OLIVE,DINING
BLUE BOTTLE,DINING
"BLUEGROUND US,",AUTO
BLUMON PARRILLACABRER,DINING
BMW MOTORCYCLES,AUTO
BOOTS,AUTO
BRITISH A,TRAVEL
BROADWAY MINI,DINING
BUTTER SAN FRANCISCO,DINING
CAFE,DINING
CAFE WEEKEND ALLSTON,DINING
CARBON HEALTH,MEDICAL/HEALTH
CARDS,SERVICES
CARSHIELD,AUTO
CART,TRAVEL
CASANOVA LOUNGE,DINING
CAVA FRONT,DINING
CAVA WESTCHASE,DINING
CBR*CORDBLOOD REGISTRY,SERVICES
CCSI EFAX,TELECOM
CENTRAL PLAZA,DINING
CHASE CENTER,DINING
CHEFSTORE,GROCERIES
CHERRY HOUSTON,DINING
CHEVRON,AUTO
CHICK-FIL-A,DINING
CHIPOTLE,DINING
CINDYS HALLMARK,SERVICES
CINEMARK,SERVICES
CITY OF HILLSBORO,COUNTY FEES
CLAUDE.AI SUBSCRIPTION ANTHROPIC.COM,SERVICES
CLCKPAY*TANASBOURNE PLACE,SERVICES
CLEAR,SERVICES
CLR*STRETCHLAB5036932599,SERVICES
COFFEE,DINING
COLOR,SERVICES
COM RAP,DINING
COMCAST / XFINITY,UTILITIES
COMCAST CABLE COMM,UTILITIES
COMMERCIAL DISHWASHER,SERVICES
COMPANION PET,SERVICES
CORNELL FARM,GROCERIES
COSTCO,GROCERY
COSTCO GAS,AUTO
COSTCO WHSE,GROCERIES
CRAIGSLIST.ORG,SERVICES
CTLP*NATIONAL VENDING CLIVE,DINING
CULTUREMAPST2571 HOUSTON,MISCELLANEOUS
CVS/PHARMACY,MEDICAL/HEALTH
CVSEXTRACARE,SERVICES
DAIMOND GIFT,SERVICES
DAMEROW FORD,AUTO
DANNY COYLE'S,DINING
DARSALAM RESTAURANT,DINING
DEAN,DINING
DENNIS MARKET PORTLAND,GROCERIES
DEPT,DINING
DEPT REVENUE,County Fees
DICKS SPORTING,MAINTENANCE
DISTINCTIVE SERVICES,SERVICES
DOLLAR TREE,SERVICES
DOORDASH,DINING
DROPBOX*9J5T42NY9VWH DROPBOX.COM,SERVICES
EBAY O*13-13208-17685,SHOPPING
EBAY O*17-13381-21368,SHOPPING
ECOGUARD PEST OREGON,SERVICES
ELECTRONIC ESSENTIALS INC,SERVICES
ESPIGA DORADA,SERVICES
ESPN PLUS,SERVICES
EXPONENT MEMBER TRYEXPONENT.C,SERVICES
FASTRAK CSC,DINING
MUFFIN,DINING
FEDEX497332808,SERVICES
FIGS INC.,MAINTENANCE
FITNESS,SERVICES
FOUNDERS* FOUNDERSCARD FOUNDERSCARD.,CC FEES
FRED-MEYER,GROCERIES
G,GROCERIES
GAME EMPIRE,TRAVEL
GAMESCAPE SAN,DINING
GAMESTOP,SHOPPING
GANGOTREE SWEETS CHENNAI,GROCERIES
GDP*TP PRODUCE PORTLAND,GROCERIES
GLF*CHARBONNEAUGOLFCLUB WILSONVILLE,DINING
GOOGLE *GOOGLE ONE,SERVICES
GOOGLE *YOUTUBE,SERVICES
GPTM1 ZEFFY.COM,SERVICES
HAIRCHITECT BARBERS,SERVICES
HAWAIIAN DRIVE INN,DINING
HECSA ZEFFY.COM,CHARITY
HILTON GARDEN INN,TRAVEL
HIPHOP SMOKESHOP,DINING
HLU*HULUPLUS HULU.COM/BILL,SERVICES
IAH,DINING
IAH FORNO,DINING
IKEA,MAINTENANCE
IN *NORTHWEST BIOFUEL,SERVICES
IN-N-OUT ROSEBURG ROSEBURG,DINING
IN-N-OUT UNION,DINING
INDIA IMPORTS,GROCERIES
INDIA SUPERMARKET BEAVERTON,GROCERIES
INDIAN CONNECTION,GROCERIES
INN THE,DINING
IPHONE CITIZ*PMT,SERVICES
JOEYS GELATERIA,SERVICES
"JUMBO'S PICKLEBALL,",SERVICES
JUMP START,SERVICES
JUST FOR FUN,DINING
KAISER DENTAL,MEDICAL/HEALTH
AISER GUEST,MEDICAL/HEALTH
KALA THAI,DINING
KINDLE,SERVICES
KOHL'S,MAINTENANCE
KRISPY,DINING
KUNG,DINING
LEGALZOOM*,SERVICES
LIBERTY HIGH,SERVICES
LIFE CHIROPRACTIC HEAL,MEDICAL/HEALTH
LIFE TIME,SERVICES
LIFESTANCE HEALTH OR,MEDICAL/HEALTH
LINEN AND,SERVICES
LINKEDINPREB *85857034,SERVICES
LIONHEARTED MINISTRIES SUPPORT@SIMPL,MEDICAL/HEALTH
LITTLE LUCCA,DINING
LOUNGE,DINING
LOW BROW,DINING
LTF*LIFE TIME,SERVICES
LUSH WASHINGTON,MAINTENANCE
LYFT,TRAVEL
LYMPHOMA ACTION,MEDICAL/HEALTH
MACMILLAN LEARNING,SERVICES
MACYS WASHINGTON,MAINTENANCE
MADRONE ART,SERVICES
MARKET,GROCERIES
MARKET OF CHOICE,GROCERIES
MARUWU SEICHA,DINING
MBTA,TRAVEL
MCDONALD'S,DINING
MED*THE OREGON,MEDICAL/HEALTH
MERCEDES BENZ,AUTO
MICHAEL KORS-716 TIGARD,MAINTENANCE
MICHAELS STORES,SERVICES
MOLOTOV'S SAN,DINING
MOTORING COFFEE,DINING
NATIONAL BOARD,SERVICES
NETFLIX,SERVICES
NETFLIX.COM NETFLIX.COM,SERVICES
NEW SEASONS,GROCERIES
NICHOLAS RESTAURANT PORTLAND,DINING
NIKE.COM,MAINTENANCE
NMI*NATIONWIDE,INSURANCE
NORDSTROM,SERVICES
NW NATURAL,UTILITIES
OAK HILL,UTILITIES
OAKLEY B016 HOUSTON,SHOPPING
ODOT DMV2U,AUTO
OJOS LOCOS SPORTS,TRAVEL
OLCC LICENSE FEE,COUNTY FEES
ONLINE PASSPORT FEES,SUBSCRIPTIONS
OR PORTALPROVFEE WWW.OREGON.GO,COUNTY FEES
ORLA ONLINE TRAINING,SERVICES
OWNER.COM OWNER.COM,SERVICES
PAGODA. SAN FRANCISCO,DINING
PANDA EXPRESS,DINING
PAYMASTER LOUNGE PORTLAND,DINING
PAYPAL *CARYSTRADIN,SERVICES
PAYPAL *LAWOFFICESP,SERVICES
PAYPAL *NGUYENTHUYL,SERVICES
PDX AIRPORT,TRAVEL
PDX POOR,TRAVEL
PERFECTPOUR* PERF,SERVICES
PETCO PARK ZIPPIN,SERVICES
PG&E WEBRECURRING,UTILITIES
PITMAN RESTARAUNT EQUIP,SERVICES
PIZZA,DINING
POKESTORE SAN FRANCISCO,SERVICES
PORT,DINING
PORTLAND GENERAL ELECTRIC,UTILITIES
PORTLAND GRAND,DINING
PORTLAND MERCEDES-BENZ PORTLAND,AUTO
PORTLAND PARKING KITTY,AUTO
POSEIDON MOVING POSEIDONMOVIN,SERVICES
PP*ROGUE SPINE,MEDICAL/HEALTH
PPY*THRIVEWORKS,MAINTENANCE
PRIME VIDEO *Z52RV6SL2,SERVICES
PROGRESSIVE INS,INSURANCE
PROJECTOR HOUSTON,MAINTENANCE
PROMETRIC LLC WWW.PROMETRIC,SERVICES
PROV VIN,MEDICAL/HEALTH
PROVIDENCE,MEDICAL/HEALTH
QFC,GROCERIES
QUICK COLLECT MP,MAINTENANCE
"QUICK SHOP2,",GROCERIES
RAINY DAY,SERVICES
RASCAL TRAINING RASCALTRAININ,SERVICES
RASVRITI CHENNAI,PROFESSIONAL CLOTHING
RAZ*ARTIUM ACADEMY,SUBSCRIPTIONS
RECREATION.GOV,TRAVEL
REDTAIL GOLF,SERVICES
REGISTERED AGENT,SERVICES
REST TACHINOMI,DINING
REST TOKYO,DINING
RESTAURANT DEPOT PORTLAND,GROCERIES
RING BASIC,SUBSCRIPTIONS
ROSS STORES,MAINTENANCE
SAELA PEST,SERVICES
SAFEWAY,GROCERIES
SAIF WORKERS' COMP,INSURANCE
SCHLOSS CHENNAI,PROFESSIONAL CLOTHING
SCOOP BETHANY PORTLAND,SERVICES
SEC STATE,GOVERNMENT
SECRET GROVE,DINING
SEPHORA WASHINGTON,SERVICES
SHELL OIL,GAS/FUEL
SHERATON BOSTON,TRAVEL
SHERPA EVISA-ETA-ESTA TORONTO,TRAVEL
SHOE MIILL,MAINTENANCE
SIZZLING INDIAN,DINING
SMITH HEATHROW,TRAVEL
SOUTHWES,TRAVEL
SPACE AGE#23 BEAVERTON,AUTO
SPO*DIXIETAVERN PORTLAND,DINING
SPO*VESUVIOCAFE SAN FRANCISCO,DINING
SPO*WICKEDLOBSTA HAVERHILL,DINING
SQ *HECSA PORTLAND,CHARITY
SQ *HUNNYMILK PORTLAND,DINING
SQ *LECHON PORTLAND,DINING
SQ *P&NCREPE BEAVERTON,DINING
SRVALC.COM--*TRAINING SRVALC.COM,SERVICES
STAGE ACADEMY ADELAIDE,SERVICES
STARBUCKS,DINING
STARBUCKS STORE,DINING
SUKRA JEWELLERY CHENNAI,PROFESSIONAL CLOTHING
SUNDARI SILKS,PROFESSIONAL CLOTHING
TAPS,DINING
TAQUERIA CAZADORES,DINING
TARGET,GROCERIES
TEMU.COM,MAINTENANCE
TESLA SERVICE US,AUTO
TESLA SUBSCRIPTION,AUTO
TESLA SUPERCHARGER US,AUTO
TESLAFI.COM TESLAFI.COM,AUTO
THE CLUBHOUSE,SERVICES
THE GOLDEN,SERVICES
THE HOME DEPOT,MAINTENANCE
THE LOT,TRAVEL
THE POKEMON,SERVICES
THE STAR,SERVICES
THE WEBSTAURANT,SERVICES
TM *TICKETMASTER,SERVICES
TMOBILE*AUTO PAY,GAS/FUEL
"TONAL SYSTEMS,",SERVICES
TORCHYS WESTCHASE,DINING
TRADER JOE S,GROCERIES
TRUE POTENTIAL,MEDICAL/HEALTH
TST* APNA,GROCERIES
TST* CENTRO,RESTAURANT
TST* DOUGH,DINING
TST* EL,DINING
TST* FORTUNE,DINING
TST* IRISH,DINING
TST* IRON,DINING
TST* JAMBA,DINING
TST* METRO,DINING
TST* OPEN,DINING
TST* PARIS,DINING
TST* RM,DINING
TST* RONTOM'S PORTLAND,DINING
TST* SALT,DINING
TST* SDCM,DINING
TST* TASTES,DINING
TST* THE,DINING
TST* VELVET,DINING
TST* WETZEL'S,DINING
TST*AGAS RESTAURANT,DINING
TST*ALIGN HOSPITALITY,DINING
TST*AZUKI SUSHI,DINING
TST*BURMA LOVE,DINING
TST*CHEZ MAMAN,DINING
TST*CICCIOS PASTA HOUSTON,DINING
TST*GIOIA PIZZERIA,DINING
TST*HIGH FLYING,DINING
TST*JP LICKS,DINING
TST*SIGHTGLASS COFFEE,DINING
TST*SMOKING GUN,DINING
TST*TACO STAND,DINING
TST*TAQUERIA LOS,DINING
TST*THE LOT,DINING
TST*WHITE RABBIT,DINING
TUALATIN VALLEY WATER,UTILITIES
UBER,DINING
UBER *TRIP HELP.UBER.COM,TRAVEL
ULTA #,MAINTENANCE
UNITED,TRAVEL
UWAJIMAYA BEAVERTON,GROCERIES
VONAGE,TELEPHONE
WALKER GARBAGE SERVICE,UTILITIES
WASHCO ANIMAL SVCS,SERVICES
WAYMO,TRAVEL
WCSHERIFFALARM FEE,SUBSCRIPTONS
WEB*NETFIRMS NETFIRMS.COM,SERVICES
WHOLEFDS TAN,GROCERIES
WILDWOOD,DINING
WLI*ENVI SALON,SERVICES
WORLDTRIPS,TRAVEL
WWW.SPOTHOPPERAPP.COM WWW.SPOTHOPPE,SERVICES
X-GOLF TUALATIN,ENTERTAINMENT
YSI*RIVAIR APARTMENT HOME,SERVICES
